@font-face {
  font-family: 'Google Sans';
  src: url('./GoogleSans-Bold.woff2');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Google Sans';
  src: url('./GoogleSans-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Google Sans';
  src: url('./GoogleSans-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}